.form {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
}

.form__part {
  margin: 0 auto;
  padding: 0 20px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.form__part input {
  background-color: #f2f2f2;
  border: none;
}

.form__part input::placeholder {
  color: #000000;
}

.form__part input:hover {
  background-color: #e5e5e5;
}

.form__part input:focus {
  background-color: #ffffff;
  border: none;
  outline: 4px solid #e5e5e5;
}

.form__button {
  width: 280px;
  margin: 0 20px;
  margin-bottom: 48px;
  padding:18px 33px 14px 32px;
  font-size: 21px;
  line-height: 26px;
}

.form__legend {
  display: none;
}

@media (min-width: $tablet-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
  }

  .form-part {
    margin: 0;
    padding: 0;
  }

  .form__button {
    order: 6;
    width: 324px;
    padding: 18px 10px 14px 0;
    margin: 0;
    margin-bottom: 61px;
  }

  .form__legend {
    display: block;
    order: 7;
    margin-left: auto;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

@media (min-width: $desktop-width) {
  .form__button {
    width: 480px;
    margin-bottom: 66px;
    padding: 16px 0 14px;
  }
}
