.form {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
}

.form__part {
  padding: 0 20px;
  margin: 0 auto;
  border-top: 1px solid #e5e5e5;
}

.form__button {
  width: 280px;
  margin: 0 20px;
  margin-bottom: 48px;
  padding:18px 33px 14px 32px;
  font-size: 21px;
  line-height: 26px;
}

.form__legend {
  display: none;
}

@media (min-width: $tablet-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
  }

  .form__button {
    order: 6;
    width: 324px;
    padding: 0;
    margin: 0;
    margin-bottom: 61px;
  }

  .form__legend {
    display: block;
    order: 7;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .form__button {
    width: 480px;
    margin-bottom: 66px;
  }
}
