.intro {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  min-height: 151px;
  border-bottom: 1px solid #e5e5e5;
}

.intro__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-top: 36px;

}

.intro__text {
  margin-bottom: 16px;
}

@media (min-width: $tablet-width) {
  .intro br {
    display: none;
  }

  .intro {
    width: 440px;
    border: none;
    margin: 0 auto;
  }

  .intro__title {
    font-size: 30px;
    margin-top: 64px;
    margin-bottom: 35px;
  }

  .intro__text {
    margin-bottom: 64px;
  }
}

@media (min-width: $tablet-width) {
  .intro__title {
    margin-top: 114px;
    margin-bottom: 56px;
  }
}

