.modal {
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.modal h2 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin-top: 39px;
  margin-bottom: 25px;
}
