.modal-success {
  width: 320px;
  min-height: 323px;
}

.modal-success__button {
  width: 280px;
}

@media (min-width: $tablet-width) {
  .modal-success {
    width: 640px;
    min-height: 347px;
  }

  .modal-success__button {
    width: 458px;
  }
}
