.page-footer {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  min-height: 233px;
}

.page-footer__wrapper {
  padding: 0;
  bottom: 0;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 120px;
    align-items: center;
  }
}
