.part-emotions {
  border: 0;
}

.part-emotions__heading {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
  padding-top: 20px;
}

.part-emotions__comment {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  border: none;
  border-radius: 0;
  background-color: #f2f2f2;
  width: 279px;
  min-height: 118px;
  margin-bottom: 51px;
}

@media (min-width: $tablet-width) {
  .part-emotions {
    order: 5;
    padding: 0;
  }

  .part-emotions__heading {
    font-size: 21px;
    position: relative;
    padding: 0;
    margin-bottom: 54px;
  }

  .part-emotions__heading::before {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    top: 12px;
    right: 325px;
    background-color: #dbdbdb;
  }

  .part-emotions__heading::after {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    top: 12px;
    left: 325px;
    background-color: #dbdbdb;
  }

  .part-emotions__comment {
    width: 606px;
    padding: 18px 21px 24px 21px;
  }
}

@media (min-width: $desktop-width) {
  .part-emotions {
    padding: 0;
  }

  .part-emotions__comment {
    width: 930px;
  }

  .part-emotions__heading {
    position: relative;
  }

  .part-emotions__heading::before {
    content: "";
    position: absolute;
    width: 280px;
  }

  .part-emotions__heading::after {
    content: "";
    position: absolute;
    width: 280px;
    top: 10px;
    left: 325px;
  }
}
