.part-impression__heading {
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 37px;
}

.part-impression__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.part-impression__item {
  margin-bottom: 43px;
}

.part-impression__item:last-child {
  margin-bottom: 41px;
}

.part-impression__item label {
  padding-left: 78px;
  position: relative;
}

.part-impression__input-radio+label::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0;
  top: -20px;
  border: 20px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 50%;
  cursor: pointer;
}

.part-impression__input-radio:checked+label::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  left: 19px;
  top: 0;
  background-color: #333333;
  border-radius: 50%;
  cursor: pointer;
}

.part-impression__input-radio:hover+label::before,
.part-impression__input-radio:focus+label::before,
.part-impression__input-radio:checked:hover+label::before,
.part-impression__input-radio:checked:focus+label::before {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}

.part-impression__input-radio:active+label::before,
.part-impression__input-radio:checked:active+label::before {
  background-color: #d5d5d5;
  border-color: #d5d5d5;
}

.part-impression__input-radio:checked:active+label::after {
  background-color: rgba(51, 51, 51, 0.3);
}

@media (min-width: $tablet-width) {
  .part-impression {
    width: 320px;
    order: 1;
    border: none;
    border-right: 1px solid #dbdbdb;
    padding: 0;
    margin: 0;
  }

  .part-impression__heading {
    font-size: 21px;
    text-align: left;
    margin-bottom: 74px;
    padding-top: 41px;
  }

  .part-impression__item {
    margin-bottom: 52px;
  }

  .part-impression__item label {
    padding-left: 75px;
  }
}

@media (min-width: $desktop-width) {
  .part-impression {
    width: 480px;
  }

  .part-impression__heading {
    margin-left: 78px;
  }

  .part-impression__item label {
    padding-left: 79px;
  }
}
