.part-place {
  margin: 0;
}

.part-place__heading {
  text-transform: uppercase;
  text-align: center;
  padding-top: 16px;
  margin-bottom: 36px;
}

.part-place__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.part-place__item {
  margin-bottom: 54px;
}

.part-place__item:last-child {
  margin-bottom: 42px;
}

.part-place__item label {
  padding-left: 79px;
  position: relative;
}

.part-place__input-checkbox+label::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  left: 0;
  top: -16px;
  border: 5px solid #f2f2f2;
  border-radius: 10%;
  background-color: #f2f2f2;
  cursor: pointer;
}

.part-place__input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 17px;
  left: 15px;
  top: 5px;
  background-image: url(../img/tick.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.part-place__input-checkbox:hover+label::before,
.part-place__input-checkbox:focus+label::before,
.part-place__input-checkbox:checked:hover+label::before,
.part-place__input-checkbox:checked:focus+label::before {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}

.part-place__input-checkbox:active+label::before,
.part-place__input-checkbox:checked:active+label::before {
  background-color: #d5d5d5;
  border-color: #d5d5d5;
}

.part-place__input-checkbox:checked:active+label::after {
  background-color: transparent;
}

@media (min-width: $tablet-width) {
  .part-place {
    width: 648px;
    order: 4;
    border: none;
    margin-bottom: 21px;
  }

  .part-place__heading {
    font-size: 21px;
    width: 308px;
    margin-bottom: 58px;
    padding: 0;
    position: relative;
  }

  .part-place__heading::before {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    top: 25px;
    right: 355px;
    background-color: #dbdbdb;
  }

  .part-place__heading::after {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    top: 25px;
    left: 355px;
    background-color: #dbdbdb;
  }


  .part-place__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .part-place__item {
    width: 265px;
    text-align: center;
    margin-bottom: 63px;
  }

   .part-place__item--park label {
    padding-left: 68px;
  }

  .part-place__item--park label::before {
    content: "";
    position: absolute;
    left: -13px;
  }
}

@media (min-width: $desktop-width) {
  .part-place {
    width: 960px;
    padding: 0;
  }

  .part-place__heading {
    position: relative;
  }

  .part-place__heading::before {
    content: "";
    position: absolute;
    width: 280px;
  }

  .part-place__heading::after {
    content: "";
    position: absolute;
    width: 280px;
    top: 25px;
    left: 365px;
  }

  .part-place__list {
    display: flex;
    justify-content: space-between;
  }

  .part-place__item {
    width: 230px;
  }

  .part-place__item:first-child label {
    margin-left: -38px;
  }

  .part-place__item:last-child label {
    margin-left: 24px;
  }
}
