.part-name {
  padding-bottom: 5px;
}

.part-name__heading {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 22px;
  padding-top: 20px;
}

.part-name__text {
  margin: 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.part-name__text label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;

}

.part-name__text input {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  padding-top: 14px;
  padding-bottom: 18px;
  padding-left: 23px;
}

.part-name__name {
  width: 67px;
  padding-right: 144px;
}

.part-name__surname {
  width: 88px;
  padding-right: 85px;
}

.part-name__patronymic {
  width: 152px;
  padding-right: 24px;
}

@media (min-width: $tablet-width) {
  .part-name {
    order: 2;
    padding: 0;
    margin: 0;
    padding-left: 58px;
    border: none;
  }

  .part-name__heading {
    font-size: 21px;
    text-align: left;
    margin-bottom: 60px;
    padding-top: 41px;
  }

  .part-name input {
    margin-left: 15px;
  }

  .part-name__name {
    padding-right: 127px;
  }

  .part-name__surname {
    padding-right: 68px;
  }

  .part-name__patronymic {
    padding-right: 7px;
  }
}

@media (min-width: $desktop-width) {
  .part-name {
    padding-left: 79px;
  }

  .part-name input {
    margin-left: 12px;
  }

  .part-name__name {
    padding-right: 255px;
  }

  .part-name__surname {
    padding-right: 195px;
  }

  .part-name__patronymic {
    padding-right: 130px;
  }
}
