.photos__list {
  list-style: none;
  padding: 0;
}

.photos__item {
  border-top: 1px solid #E5E5E5;
}

.photos__title {
  font-size: 18px;
  line-height: 26px;
}

.photos__text {
  font-size: 14px;
  line-height: 24px;
}
