.post {
  font-size: 14px;
  line-height: 24px;
  margin: 22px 20px 15px;
}

.post__link img {
  width: 280px;
  height: 280px;
}

.post__text h3 {
  font-size: 14px;
  margin: 0;
  margin-top: 11px;
}

.post__text p {
  text-transform: none;
  margin: 0;
}

.post__likes {
  font-weight: 700;
  margin-top: 10px;
}

.post__likes-icon {
  border: 0;
  background-color: transparent;
  background-image: url("../img/like-mobile.svg");
  width: 23px;
  height: 21px;
  padding: 0;
  margin-right: 10px;
}


@media (min-width: $tablet-width) {
  .post {
    margin: 0;
  }

  .post__link img {
    width: 324px;
    height: 267px;
  }


  .post__text {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 80px;
  }

  .post__text h3 {
    font-size: 14px;
    margin-top: 16px;
    padding-left: 20px;
  }

  .post__text p {
    padding-left: 20px;
  }

  .post__likes {
    display: flex;
    margin-top: 30px;
    margin-left: auto;
    padding-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .post {
    position: relative;
  }

  .post__link img {
    width: 400px;
  }

  .post__text {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .post__text h3 {
    padding-left: 21px;
  }

  .post__text p {
    padding-left: 21px;
  }

  .post__likes {
    padding-right: 31px;
  }

  .post__likes-icon {
    background-image: url("../img/like-desktop.svg");
  }
}
