.reason-second {
  color: #ffffff;
  background-color: #81b3d2;
  font-size: 14px;
  line-height: 21px;
}

.reason-second__info {
  text-align: center;
  padding: 39px 10px 35px;
}

.reason-second__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
}

.reason-second__namber {
  margin-bottom: 16px;
}

.reason-second__description {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .reason-second {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .reason-second__info {
    order: 2;
    width: 184px;
    margin: 43px 36px 41px;
    padding: 0;
  }

  .reason-second__title {
    font-size: 21px;
  }

  .reason-second__namber {
    margin-bottom: 25px;
  }
}

@media (max-width: $desktop-no-width) {
  .reason-second__description br {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .reason-second__info {
    width: 258px;
    margin: 0;
    padding: 51px 70px 53px;
  }

  .reason-second__image {
    width: 800px;
    height: 256px;
  }
}
