.reasons {
  background-color: #EEEEEE;
  font-size: 14px;
  line-height: 21px;
}

.reasons__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.reasons__title {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .reasons__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
