.salutation {
  width: 320px;
  height: 389px;
  margin: 0 auto;
  background-color: #766357;
  background-image: url(../img/back-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.salutation img {
  margin: 0 auto;
  padding-top: 90px;
  width: 282px;
  height: 214px;
}

@media (min-width: $tablet-width) {
  .salutation {
    width: 768px;
    height: 518px;
  }

  .salutation img {
    width: 461px;
    height: 350px;
  }
}

@media (min-width: $desktop-width) {
  .salutation {
    width: 1200px;
    height: 518px;
  }
}
