.search__question {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin-top: 33px;
}

.search__info {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 27px;
}

.search__button {
  width: 280px;
  padding: 15px 32px 17px;
  display: block;
  margin: 0 auto;
  margin-bottom: 49px;
}

.search__button:hover {
  background-color: #669ec0;
}

.search__button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.search__button:disabled {
  background-color: #e5e5e5;
}

@media (max-width: $mobile-width-only) {
  .search__info br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .search {
    width: 435px;
    margin: 0 auto;
  }

  .search__question {
    font-size: 30px;
    margin-top: 58px;
  }

  .search__info {
    margin-bottom: 37px;
  }

  .search__button {
    width: 458px;
    margin-bottom: 58px;
  }
}

@media (min-width: $desktop-width) {
  .search__button {
    margin-bottom: 66px;
  }
}
