.video {
  border-top: 1px solid #e5e5e5;
}

.video__title {
  font-size: 18px;
  line-height: 26px;
  margin-top: 32px;
  margin-bottom: 30px;
  text-align: center;
}

.video__text {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 33px;
}

.video__player {
  width: 320px;
  height: 201px;
}

@media (min-width: $tablet-width) {
  .video {
    width: 648px;
    border: none;
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;
  }

  .video__title {
    font-size: 30px;
    margin-top: 59px;
  }

  .video__text {
    width: 445px;
    margin-bottom: 68px;
  }

  .video__player {
    width: 648px;
    height: 500px;
  }
}

@media (min-width: $desktop-width) {
  .video {
    width: 800px;
    margin-bottom: 85px;
  }

  .video__player {
    width: 800px;
    height: 500px;
  }
}
